#global_search #global_search_autocomplete, #global_search #global_search_autocomplete_advanced{
	background: none repeat scroll 0 0 #FFFFFF;
}

.quick_search_popup #context_popup_container, 
.quick_search_popup #context_popup_title ,
.quick_search_popup #context_popup_container table{
	 background: none repeat scroll 0 0 #E8EBF0 !important;
}
.quick_search_popup #context_popup_container table{
	 padding: 5px 5px 5px 12px !important;
}
	
table.search_results tr.headingRow {
	padding-top: 2px;
}

table.search_results td.heading {
	opacity: 0.5 !important;
	text-align: right !important;
	width: 70px;
}

table.search_results td.type {
	border-right: 1px solid;
	opacity: 0.5 !important;	 
}


/* For remove the border from the search list*/
table.search_results td {
	background-image: none !important;
}

.quick_search_popup #context_popup_data{
	padding: 10px;
	 background: none repeat scroll 0 0 #E8EBF0;
}