.invoice_form .invoice_items_wrapper table tbody td img {
  vertical-align: middle;
}

.invoice_form {
  .main_invoice_settings {
    margin: -5px 0px 20px 0px;
    background: #FFF;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 5px 20px;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 0px 10px #FFF inset;

    table {
      td {
        vertical-align: middle;

        &.left_cell {
          text-align: left;
        }

        &.right_cell {
          text-align: right;
        }
      }
    }

    .invoice_client_address.labels_inline {
      label.main_label {
        width: 110px;
        text-align: right;
        float: none;
        padding-right: 7px;
        display: inline-block;
        vertical-align: top;
      }

      .indent_field {
        margin-left: 117px;
      }

      .client_chooser {
        text-align: center;
        background: #f1f1f1;
        margin-top: -7px;
        margin-bottom: 10px;
        padding: 4px 15px;
        margin-left: 116px;
        border-radius: 0px 0px 7px 7px;
        display: inline-block;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
      }

      input[type="text"],
      input[type="number"] {
        width: 206px;
      }
    }

    .invoice_common_settings {
      label.main_label {
        width: 100px;
        text-align: right;
        float: none;
        padding-right: 7px;
        display: inline-block;
      }

      select {
        width: 190px;
      }

      input[type="text"],
      input[type="number"] {
        width: 180px;
      }

      div.checkbox_wrapper {
        margin-top: 6px;
      }

      .control_holder:last-child {
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
    }
  }

  .invoice_items_wrapper {
    overflow: visible !important;
    margin-top: -2px;

    table {
      width: 729px;
      table-layout: fixed;

      tr {
        th {
          text-align: right;
          padding: 7px 5px 5px;
          font-size: 11px;
          border-bottom: 0px;

          &.num {
            text-align: right;
            padding-right: 0px;
            border-top: 0px;
          }

          &.description {
            text-align: left;
          }
        }

        td.num,
        th.num {
          width: 24px;
        }

        td.num {
          font-size: 11px;
          padding-left: 0px;
          padding-right: 5px;
          padding-top: 6px;
          text-align: right;
          color: #999;
          background: none;

          .move_handle {
            display: none;
            cursor: move;
          }

          &:hover {
            span {
              display: none;
            }

            img {
              display: inline;
            }
          }
        }

        th.description,
        td.description {
          width: 358px;
        }

        td.options,
        th.options {
          width: 7px;
        }

        td.options {
          text-align: right;
          border-top: 0px !important;
          border-bottom: 0px !important;
          background: none;
          padding-left: 3px;

          img {
            width: 12px;
            height: 12px;
            cursor: pointer;
          }
        }

        th.header_cell {
          &.quantity,
          &.unit_cost,
          &.total {
            width: 70px;
            text-align: right;
            overflow: hidden;
          }

          &.tax_rate {
            width: 65px;
            overflow: hidden;
          }
        }

        td.field_cell {
          background-color: #FFF;
          border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          vertical-align: top;
          padding: 2px 5px;
          font-size: 11px;

          &:hover {
            background-color: #f8f8f8;
          }

          &.focused {
            background-color: #fcf9de;
          }

          &.quantity,
          &.unit_cost,
          &.total {
            width: 70px;
            text-align: right;
          }

          &.description {
//            width: 280px;
          }

          &.tax_rate {
            width: 65px;
            text-align: right;
          }

          input[type="text"], input[type="number"] {
            border: 0px;
            background: none;
            padding: 6px 0px;
            box-shadow: 0px 0px 0px transparent !important;
            font-size: 11px;
            width: 70px;
            text-align: right;

            &:focus {
              outline: medium none;
            }
          }

          textarea {
            height: 14px;
            padding: 6px 0px 4px;
            margin: 0px 0px !important;
            vertical-align: middle;
            width: 362px;
            border: 0px;
            background: none;
            box-shadow: 0px 0px 0px transparent !important;
            overflow: hidden !important;
            line-height: 15px;
            font-size: 11px;

            &:focus {
              outline: medium none;
            }
          }

          &.dropdown_cell {
            background-image: url(assets/images/environment/default/layout/bits/dropdown.png);
            background-repeat: no-repeat;
            background-position: 59px 12px;

            select {
              border: 0px !important;
              background: transparent;
              border-radius: 0;
              padding-top: 5px;
              padding-bottom: 5px;
              -webkit-appearance: none;
              -moz-appearance: window;
              appearance: none;
              width: 65px !important;
              font-size: 11px;

              &:focus {
                outline: medium none;
              }
            }
          }

          &.total {
            border-right: 1px solid #ddd;
          }
        }

        &:first-child {
          td.field_cell {
            border-top: 1px solid #ddd;
          }
        }

        &.invoice_total,
        &.invoice_subtotal {
          td {
            text-align: right;
            font-weight: bold;

            &.header_cell {
              padding-right: 5px;
              padding-top: 8px;
            }

            &.field_cell {
              border-top: 0px;
            }
          }
        }
      }

      &.two_taxes td.description textarea {
        width: 289px;
      }
    }
  }

  .invoice_comment_wrapper {
    textarea {
      height: 90px;
      min-height: 90px;
      resize: vertical;
    }
  }

  .invoice_details_wrapper {
    padding: 5px 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 729px;
    right: 0px;
    zoom: 1;
    overflow: hidden;
    background: #F2F2F2;

    .invoice_note_wrapper {
      select {
        position: relative;
        top: -2px;
      }

      textarea {
        width: 100% !important;
        height: 80px !important;
        -moz-box-sizing: border-box !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
      }
    }
  }

  .invoice_item_buttons {
    margin-top: -44px;
    margin-bottom: 23px;
    padding-left: 22px;

    div.control_holder {
      display: inline-block;
      float: right;
      margin: 0 190px 0 0;
      position: relative;
    }
  }

  .main_form_column {
    bottom: 134px !important;

    &.popup_on_top {
      #add_from_template .link_button_dropdown_dropdown {
        top: auto;
        bottom: 16px;
      }
    }
  }

}