#homescreen_tab div.homescreen_tab_column_wrapper.single {
	width: 100%;
}

#homescreen_tab div.homescreen_tab_column_wrapper.extra_wide {
	width: 75%;
}

#homescreen_tab div.homescreen_tab_column_wrapper.extra_wide div.homescreen_tab_column
	{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 0 10px #CCCCCC;
	margin: 15px 10px 15px 10px;
	min-height: 0px !important;
	padding: 15px 30px;
}

#homescreen_tab div.homescreen_tab_column_wrapper.single div.homescreen_tab_column
	{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 0 10px #CCCCCC;
	margin: 15px 10px 15px 10px;
	min-height: 0px !important;
	padding: 15px 30px;
}

#homescreen_tab div.homescreen_tab_column_wrapper.single div.homescreen_tab_column .homescreen_widget .head
	{
	background:
		url(assets/images/system/default/layout/project-overview/project-overview-title-left.png)
		no-repeat left top;
	margin-bottom: 0px !important;
}

#homescreen_tab div.homescreen_tab_column_wrapper.extra_wide div.homescreen_tab_column .homescreen_widget .head
	{
	background:
		url(assets/images/system/default/layout/project-overview/project-overview-title-left.png)
		no-repeat left top;
	margin-bottom: 0px !important;
}

#homescreen_tab div.homescreen_tab_column_wrapper.single div.homescreen_tab_column .homescreen_widget .head .head_inner
	{
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	padding: 10px 0 8px;
	text-shadow: 0 1px 0 #FFFFFF;
	text-transform: uppercase;
	display: block;
}

#homescreen_tab div.homescreen_tab_column_wrapper.extra_wide div.homescreen_tab_column .homescreen_widget .head .head_inner
	{
	background:
		url("assets/images/system/default/layout/project-overview/project-overview-title-right.png")
		no-repeat right top;
	padding: 10px 20px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	text-shadow: 0 1px 0 #FFFFFF;
	text-transform: uppercase;
	display: block;
}