#issue_invoice {

  #issue_invoice_send_email {
    margin-top: 10px;
  }

  #select_invoice_recipients {
    padding-left: 25px;

    #issue_invoice_send_email_pdf {
      line-height: 16px;
      font-size: 90%;
      color: #999;
      padding-left: 20px;
      background: url(assets/images/environment/default/file-types/16x16/pdf.png) no-repeat;
    }
  }

}