{label}Label{/label}
</br>
{text_field name='homescreen_widget[label]' value=$widget_data.label}
</br>
{label}{lang}RSS Feed URL{/lang}{/label}
</br>
{text_field name='homescreen_widget[rss_url]' value=$widget_data.rss_url}
