.invoice_designer_paper_settings {
  position: absolute;
  width: 652px;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 18px;
}

.invoice_designer_buttons {
  position: absolute;
  left: 670px;
  top: 30px;
}

#invoice_designer .disclamer {
  position: absolute;
  left: 670px;
  top: 765px;
  width: 180px;
  color: #888;
}

#invoice_designer .disclamer a {
  color: #333;
}

.invoice_designer_buttons ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.invoice_designer_buttons ul li {
  margin: 10px 0px;
}

.invoice_designer_buttons ul li a {
  display: block;
  padding: 2px 0px 2px 20px;
  background-repeat: no-repeat;
  background-position: left center;
}

.invoice_designer_buttons ul li a.invoice_paper_size {
  background-image: url(assets/images/invoicing/widgets/invoice_designer/icons/16x16/invoice-paper.png);
}

.invoice_designer_buttons ul li a.invoice_margins {
  background-image: url(assets/images/invoicing/widgets/invoice_designer/icons/16x16/invoice-margins.png);
}

.invoice_designer_buttons ul li a.invoice_header {
  background-image: url(assets/images/invoicing/widgets/invoice_designer/icons/16x16/invoice-header.png);
}

.invoice_designer_buttons ul li a.invoice_body {
  background-image: url(assets/images/invoicing/widgets/invoice_designer/icons/16x16/invoice-body.png);
}

.invoice_designer_buttons ul li a.invoice_footer {
  background-image: url(assets/images/invoicing/widgets/invoice_designer/icons/16x16/invoice-footer.png);
}

.invoice_designer_buttons button {
  margin-bottom: 20px;
}

.invoice_designer_paper {
  background: #FFF;
  width: 612px;
  height: 865px;
  margin: 20px;
  box-shadow: #999 0px 0px 7px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Color='#cccccc', Direction=135)";
  position: relative;
}

.invoice_designer_margins {
  position: absolute;
  width: 100%;
  height: 100%;
}

.invoice_designer_margin {
  cursor: move;
}

.invoice_designer_margin_top {
  position: absolute;
  height: 15px;
  width: 100%;
  top: 25px;
/*  padding-left: 40px;*/
  background: url(assets/images/invoicing/widgets/invoice_designer/horizontal-guide.png) no-repeat right 0px;
}

.invoice_designer_margin_bottom {
  position: absolute;
  height: 15px;
  width: 100%;
  bottom: 25px;
/*  padding-left: 40px;*/
  background: url(assets/images/invoicing/widgets/invoice_designer/horizontal-guide.png) no-repeat right 0px;
}

.invoice_designer_margin_left {
  position: absolute;
  width: 15px;
  height: 100%;
  left: 25px;
/*  margin-top: -40px;*/
/*  padding-top: 40px;*/
  background: url(assets/images/invoicing/widgets/invoice_designer/vertical-guide.png) no-repeat left 0px;
}

.invoice_designer_margin_right {
  position: absolute;
  width: 15px;
  height: 100%;
  right: 25px;
/*  margin-top: -40px;*/
/*  padding-top: 40px;*/
  background: url(assets/images/invoicing/widgets/invoice_designer/vertical-guide.png) no-repeat left 0px;
}

.invoice_designer_header_guide {
  position: absolute;
  height: 15px;
  width: 100%;
  top: 125px;
/*  padding-left: 40px;*/
  background: url(assets/images/invoicing/widgets/invoice_designer/horizontal-guide.png) no-repeat right 0px;
}

.invoice_designer_footer_guide{
  position: absolute;
  height: 15px;
  width: 100%;
  bottom: 80px;
/*  padding-left: 40px;*/
  background: url(assets/images/invoicing/widgets/invoice_designer/horizontal-guide.png) no-repeat right 0px;
}

.invoice_designer_section {
  position: absolute;
  cursor: pointer;
}

.invoice_designer_section .invoice_designer_section_name {
  position: absolute;
  top: 2px;
  left: 2px;
  background: #e5e5e5;
  text-transform: uppercase;
  font-size: 9px;
  padding: 3px 8px;
  font-weight: bold;
}

.invoice_designer_section .invoice_designer_section_button {
  display: none;
  width: 200px;
  height: 26px;
  line-height: 26px;
  background: #f3f3f3;
  border: 1px solid #eaeaea;
  color: #555555;
  text-align: center;
  border-radius: 20px;  
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -13px;
  z-index: 500;
}

.invoice_designer_section:hover .invoice_designer_section_button {
  display: block;
}

.invoice_designer_paper.dragging .invoice_designer_section_button {
  display: none !important;
}

.invoice_designer_margin,
.invoice_designer_section {
  display: none;
}

#invoice_header_form .company_name {
  width: 496px;
}

#invoice_header_form .company_details {
  height: auto;
}

.invoice_designer_paper .render img.background_image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.invoice_designer_paper .render .header,
.invoice_designer_paper .render .body,
.invoice_designer_paper .render .footer {
  position: absolute;
  z-index: 2;
  zoom: 1;
  overflow: hidden;
  left: 45px;
  right: 45px;
}

.invoice_designer_paper .render .header {
  padding-top: 30px;
  height: 100px;
  padding-bottom: 7px;
}

.invoice_designer_paper .render .header .company_logo {
  height: 100%;
  float: left;
  margin-top: 10px;
}

.invoice_designer_paper .render .header .company_logo img {
  max-height: 65px;
  max-width: 260px;
  float: left;
}


.invoice_designer_paper .render .header .company_details {
  float: right;
  text-align: right;
  line-height: 120%;
}

.invoice_designer_paper .render .header.inverse_layout .company_logo {
  float: right;
  text-align: right;
}

.invoice_designer_paper .render .header.inverse_layout .company_details {
  float: left;
  text-align: left;
}

.invoice_designer_paper .render .body {
  top: 167px;
}

.invoice_designer_paper .render .body table.items {
  margin-top: 35px;
}

.invoice_designer_paper .render .body table.items th {
  padding: 5px 0px;
/*  border-bottom: 1px solid #ccc;*/
  border: none;
}

.invoice_designer_paper .render .body table.items td {
/*  border-bottom: 1px solid #eee;*/
  padding: 3px 0px 3px;
}

.invoice_designer_paper .render .body table.items tr:last-child td {
/*  border-bottom: 1px solid #ccc;  */
}

.invoice_designer_paper .render .body table.items.without_border td {
  border: 0px;
}

.invoice_designer_paper .render .body table.items td.number {
  text-align: right;
  padding-right: 5px;
  width: 23px;
}

.invoice_designer_paper .render .body table.items th.total,
.invoice_designer_paper .render .body table.items td.total {
  text-align: right;
  width: 70px;
}

.invoice_designer_paper .render .body table.items th.tax,
.invoice_designer_paper .render .body table.items td.tax {
  text-align: right;
  width: 50px;
}

.invoice_designer_paper .render .body table.items th.subtotal,
.invoice_designer_paper .render .body table.items td.subtotal {
  text-align: right;
  width: 70px;
}

.invoice_designer_paper .render .body table.items th.unit_cost,
.invoice_designer_paper .render .body table.items td.unit_cost {
  text-align: right;
  width: 70px;
}

.invoice_designer_paper .render .body table.items th.quantity,
.invoice_designer_paper .render .body table.items td.quantity {
  text-align: right;
  width: 30px;
}

.invoice_designer_paper .render .body table.items_total {
  float: right;
  width: 220px;
  text-align: right;
}

.invoice_designer_paper .render .body table.items_total td {
/*  border-bottom: 1px solid #eee;*/
  padding: 3px 0px 3px;
}

.invoice_designer_paper .render .body table.items_total.without_border td {
/*  border: 0px;*/
}

.invoice_designer_paper .render .body table.items_total td.label {
  font-weight: bold;
}

.invoice_designer_paper .render .body table.items_total td.amount {
  width: 120px;
}

.invoice_designer_paper .render .body .body_top {
  zoom: 1;
  overflow: hidden;
}

.invoice_designer_paper .render .body .body_top .client_details {
  margin-top: 0px;
  float: left;
  width: 248px;
/*  background: url(assets/images/invoicing/default/layout/invoice-designer/client-wrapper-top.png) no-repeat left top;*/
}

.invoice_designer_paper .render .body .body_top .client_details_inner {
/*  background: url(assets/images/invoicing/default/layout/invoice-designer/client-wrapper-bottom.png) no-repeat left bottom;*/
  padding: 20px 0px 0px;
}


.invoice_designer_paper .render .body .body_top .invoice_details {
  float: right;
  width: 45%;
  text-align: right;
}

.invoice_designer_paper .render .body .body_top .invoice_details .invoice_number {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.invoice_designer_paper .render .body .body_top.inverse_layout .client_details {
  float: right;
  text-align: right;
}

.invoice_designer_paper .render .body .body_top.inverse_layout .invoice_details {
  float: left;
  text-align: left;
}

.invoice_designer_paper .render .body .invoice_note {
  clear: both;
  padding-top: 30px;
}

.invoice_designer_paper .render .footer {
  bottom: 0px;
  padding-bottom: 20px;
  padding-top: 7px;
}

.invoice_designer_paper .render .footer .invoice_number {
  float: left;
  text-transform: uppercase;
}

.invoice_designer_paper .render .footer .pager {
  float: right;
}

.invoice_designer_paper .render .footer.inverse_layout .invoice_number {
  float: right;
}

.invoice_designer_paper .render .footer.inverse_layout .pager {
  float: left;
}